<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034126149379-chva19cm4obfktuejookaokjqjlfb17o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034126149379-chva19cm4obfktuejookaokjqjlfb17o</string>
	<key>API_KEY</key>
	<string>AIzaSyAG7bb4RV4KIs08ElGKX5y5f7XKItIR9qo</string>
	<key>GCM_SENDER_ID</key>
	<string>1034126149379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.sav.JustChat</string>
	<key>PROJECT_ID</key>
	<string>justchat-f0096</string>
	<key>STORAGE_BUCKET</key>
	<string>justchat-f0096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034126149379:ios:77572015b1751386874b36</string>
	<key>DATABASE_URL</key>
	<string>https://justchat-f0096.firebaseio.com</string>
</dict>
</plist>